<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Streamlab - Video Streaming HTML5 Template" />
    <meta name="description" content="Streamlab - Video Streaming HTML5 Template" />
    <meta name="author" content="StreamLab" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Streamlab - Video Streaming HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/logo-1.png">
    <!-- CSS bootstrap-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!--  Style -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!--  Responsive -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.css" integrity="sha512-yexU9hwne3MaLL2PG+YJDhaySS9NWcj6z7MvUDSoMhwNghPgXgcvYgVhfj4FMYpPh1Of7bt8/RK5A0rQ9fPMOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .menu-item-has-children {
            position: relative;
        }

        .sub-menu {
            position: absolute;
            right: 0;
        }
    </style>
    @RenderSection("styles",  false)
</head>
<body>
    <!--=========== Loader =============-->
    <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="~/images/logo.png" alt="loading">
        </div>
    </div>
    <!--=========== Loader =============-->
    <!--========== Header ==============-->
    <header id="gen-header" class="gen-header-style-1 gen-has-sticky">
        <div class="gen-bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">
                                <img class="~/img-fluid logo" src="~/images/logo.png" alt="streamlab-image">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="gen-menu-contain" class="gen-menu-contain">
                                    <ul id="gen-main-menu" class="navbar-nav ml-auto">

                                        <li class="menu-item">
                                            <a href="#" aria-current="page">Home</a>
                                            <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="/Home/Index" aria-current="page">Main Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/Home/MoviesHome" aria-current="page">Movies Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/Home/TVshowsHome" aria-current="page">TV Shows Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/Home/MusicHome" aria-current="page">Music Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Movies</a>
                                            <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="/Home/MoviesHome" aria-current="page">Movies Home</a>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children">

                                                    <a href="/Home/MoviesAll" aria-current="page">Movies List</a>
                                                    </li>

                                                    
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="/Home/MoviesGenre" aria-current="page">Movies Genre</a>
                                                        <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                                        <ul class="sub-menu">
                                                            @*Do for ra Day*@
                                                            <li class="menu-item">
                                                                <a href="#">G3</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="#">G2</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="#">G1</a>
                                                            </li>
                                                            @*End*@
                                                        </ul>
                                                    </li>
                                                    
                                            </ul>
                                        </li>

                                        <li class="menu-item">
                                            <a href="#">Tv Shows</a>
                                            <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="/Home/TvshowsHome" aria-current="page">TV Shows Home</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a aria-current="page">TV Shows Genre</a>
                                                    <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        @*Do for ra Day*@
                                                        <li class="menu-item">
                                                            <a href="#">G3</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">G2</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">G1</a>
                                                        </li>
                                                        @*End*@
                                                    </ul>
                                                </li>

                                                <li class="menu-item menu-item-has-children">
                                                    <a href="/Home/TvshowsAll" aria-current="page">TV Shows List</a>
                                                    <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="TvshowStyle">TV Show 1</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="TvshowStyle">TV Show 2</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="TvshowStyle">TV Show 3</a>
                                                        </li>
                                                    </ul>

                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Music</a>
                                            <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="/Home/MusicHome">Music Home</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="/Home/SingerList">Singer List</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children">

                                                    <a href="/Home/MusicsAll">Music List</a>
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="/Home/MusicsGenre" aria-current="page">Music Genre</a>
                                                    <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        @*Do for ra Day*@
                                                        <li class="menu-item">
                                                            <a href="#">G3</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">G2</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">G1</a>
                                                        </li>
                                                        @*End*@
                                                    </ul>
                                                </li>
                                            </ul>

                                        </li>

                                        <li class="menu-item" style="padding-right: 15px">
                                            <a href="#">Pages</a>
                                                <i class="fa fa-chevron-down gen-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">

                                                    <a href="/Home/Pricing">Pricing</a>

                                                </li>

                                                <li class="menu-item">
                                                    <a href="/Home/ContactUs">Contact Us</a>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="gen-header-info-box">
                                <div class="gen-menu-search-block">
                                    <a href="javascript:void(0)" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
                                    <div class="gen-search-form">
                                        <form role="search" method="get" class="search-form" action="Search">
                                            <label>
                                                <span class="screen-reader-text"></span>
                                                <input type="search" class="search-field" placeholder="Search …"
                                                       value="" name="">
                                            </label>
                                            <button type="submit" class="search-submit">
                                                <span class="screen-reader-text"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <partial name="_LoginPartial" />
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div>
        @RenderBody()

    </div>
    <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->
    <!-- footer start -->
    <footer id="gen-footer">
        <div class="gen-footer-style-1">
            <div class="gen-footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/images/logo.png" class="gen-footer-logo" alt="gen-footer-logo">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <ul class="social-link">
                                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-skype"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Explore</h4>
                                <div class="menu-explore-container">
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="#" aria-current="page">Home</a>
                                        </li>
                                        <li class="menu-item"><a href="/Home/MoviesHome">Movies</a></li>
                                        <li class="menu-item"><a href="/Home/TVshowsHome">Tv Shows</a></li>
                                        <li class="menu-item"><a href="/Home/MusicHome">Music</a></li>
                                        <li class="menu-item"><a href="#">Actors</a></li>
                                        <li class="menu-item"><a href="#">Basketball</a></li>
                                        <li class="menu-item"><a href="#">Celebrity</a></li>
                                        <li class="menu-item"><a href="#">Cross</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Company</h4>
                                <div class="menu-about-container">
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="#">Company</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="./ContactUs">
                                                Privacy
                                                Policy
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                Terms Of
                                                Use
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                Help
                                                Center
                                            </a>
                                        </li>
                                        <li class="menu-item"><a href="#">contact us</a></li>
                                        <li class="menu-item"><a href="#">Subscribe</a></li>
                                        <li class="menu-item"><a href="#">Our Team</a></li>
                                        <li class="menu-item"><a href="#">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Download App</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="#">
                                            <img src="~/images/asset-35.png" class="gen-playstore-logo" alt="playstore">
                                        </a>
                                        <a href="#">
                                            <img src="~/images/asset-36.png" class="gen-appstore-logo" alt="appstore">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gen-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 align-self-center">
                            <span class="gen-copyright">
                                <a target="_blank" href="#">
                                    Copyright 2023 stremlab All Rights
                                    Reserved.
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->
    <!-- js-min -->
    <script src="@Url.Content("~/js/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/js/asyncloader.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.counterup.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/js/isotope.pkgd.min.js")"></script>

    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>

    <script src="@Url.Content("~/js/slick.min.js")"></script>

    <script src="@Url.Content("~/js/streamlab-core.js")"></script>

    <script src="@Url.Content("~/js/script.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js" integrity="sha512-vONptKEoKbP1gaC5UkbYDa9OPr04ur4bxaaqT7DAJxGHB2oogtseCPrl5e5hPFokGYotlGNV4d+GM593ka7iNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("scripts", false)
</body>
</html>
