@using StreamTrace.DTO;
@model List<ContentDetailDTO>;
@{
    
    var urlUpdate = Url.Action("AddOrUpdateContent");
}
@if (Model != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="name" scope="col">Name</th>
                <th class="avartar" scope="col">Avata</th>
                <th class="manufacture" scope="col">Manufacture</th>
                <th class="trailer" scope="col">Trailer</th>
                <th class="fullvideo" scope="col">Fullvideo</th>
                <th class="status" scope="col">Status</th>
                <th class="detail" scope="col">Details</th>
                <th class="action" scope="col" class="">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.content.Name</td>
                    <td>@item.content.ImgURL</td>
                    <td>@item.content.Manufacture</td>
                    <td>@item.content.Trailer</td>
                    <td>@item.content.FullVid</td>
                    <td>@item.content.Status</td>
                    <td>
                        <ul>
                            @foreach (var s in item.contentSpectifications)
                            {
                                <li>@s.SpectificationName: @string.Join(",", s.SpectificationValue)</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <div class="d-grid gap-3 d-md-block">
                            <a class="btn btn-warning" id="editButton" type="button" href="@urlUpdate" >Update</a>
                            <a class="btn btn-danger" id="deleteButton" type="button"href="@urlUpdate">Delete</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}