@using StreamTrace.DTO;
@model List<ContentDetailDTO>;
@{

   
    //switch(type){
    //    case "tvshow":
    //        urlUpdate = Url.Action("AddOrUpdateTVShow", "CMS");
    //        break;
    //    case "movie":
    //        urlUpdate = Url.Action("AddOrUpdateMovie", "CMS");
    //        break;
    //    case "music":
    //        urlUpdate = Url.Action("AddOrUpdateMusic", "CMS");
    //        break;
    //}
}
@if (Model != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Avata</th>
                <th scope="col">Manufacture</th>
                <th scope="col">Trailer</th>
                <th scope="col">Fullvideo</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
                <th scope="col" class="">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.content.Name</td>
                    <td>@item.content.ImgURL</td>
                    <td>@item.content.Manufacture</td>
                    <td>@item.content.Trailer</td>
                    <td>@item.content.FullVid</td>
                    <td>@item.content.Status</td>
                    <td>
                        <ul>
                            @foreach (var s in item.contentSpectifications)
                            {
                                <li>@s.SpectificationName: @string.Join(",", s.SpectificationValue)</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <div class="d-grid gap-3 d-md-block">
                            @{
                                var urlUpdate = Url.Action("AddOrUpdateTVShow", "CMS");
                                var type = ViewBag.Type as string;
                                if (type.Equals("tvshow"))
                                {
                                    urlUpdate = Url.Action("AddOrUpdateTVShow", "CMS",new {id = item.content.Id});
                                }
                                if (type.Equals("movie"))
                                {
                                    urlUpdate = Url.Action("AddOrUpdateMovie", "CMS", new { id = item.content.Id });
                                }
                                if (type.Equals("music"))
                                {
                                    urlUpdate = Url.Action("AddOrUpdateMusic", "CMS", new { id = item.content.Id });
                                }
                            }
                            <a class="btn btn-warning" id="editButton" type="button" href="@urlUpdate">Update</a>
                            <a class="btn btn-danger" id="deleteButton" type="button"href="@urlUpdate">Delete</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}